.sample {
    position: relative;
    width: 100%;
    box-shadow: var(--light-shadow);
    box-sizing: border-box;
    margin-bottom: 64px;   
}

.sample pre {
    height: 312px;
    margin: 0 !important;
    border-style: none;
    overflow: scroll;
}

.sample .info {
    padding: 8px;
    background-color: var(--light-background);
    cursor: pointer;
}

.sample .header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    gap: 8px;
}

.sample .header > h3 {
    grid-column: 1;
}

.sample .header > .language {
    grid-column: 2;
    font-size: 16pt;
    margin: 2px 0;
    color: var(--dark-text);
    text-overflow: ellipsis;
    overflow: hidden;
}

.sample .subtitle {
    font-size: 14pt;
    line-height: 140%;
    margin: 0;
    color: var(--dark-text);
}

.sample .description {
    display: none;
    padding-top: 8px;
}

.sample .expand {
    position: absolute;
    top: 12px;
    right: 12px;
}

.sample.expanded {
    margin-bottom: 0px;   
}

.sample.expanded pre {
    height: auto;
}

.sample.expanded .info {
    cursor: auto;
}

.sample.expanded .subtitle {
    display: none;
}

.sample.expanded .description {
    display: block;
}

